@model IEnumerable<A7Dashboard.Domain.Models.PingResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <div id="pingResultTable">
            @Html.Partial("~/Views/Shared/_PingResults.cshtml", new List<A7Dashboard.Domain.Models.PingResult>())
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {

            var pingResultHub = $.connection.pingResultHub;

            pingResultHub.client.addPingResultToPage = function () {
                updatePingResult()

            };


            $.connection.hub.start().done(function () {
                //pingResultHub.server.SendNotification
                alert("connection started")
                updatePingResult();
            }).fail(function (e) {
                alert(e);
            });


            function updatePingResult(pingResult) {
                var tbl = $('#pingResultTable');
                $.ajax({
                    url: '/home/Status',
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    cache: false
                }).success(function (result) {
                    tbl.empty().append(result);
                }).error(function () {

                });
            }

        })
    </script>
}